In [1]:
captains = {
    'india': 'virat',
    'pakistan': 'sarfaraz',
    'sri lanka': 'dimuth',
}

captains

{'india': 'virat', 'pakistan': 'sarfaraz', 'sri lanka': 'dimuth'}

In [2]:
print(type(captains))

<class 'dict'>

In [3]:
captains['india']

'virat'

In [4]:
captains.keys()

dict_keys(['india', 'pakistan', 'sri lanka'])

In [5]:
captains.values()

dict_values(['virat', 'sarfaraz', 'dimuth'])

In [6]:
captains['new item'] = 'item1'
captains

{'india': 'virat',
 'pakistan': 'sarfaraz',
 'sri lanka': 'dimuth',
 'new item': 'item1'}

In [7]:
for captain in captains:
    print(captain)

india
pakistan
sri lanka
new item

In [8]:
for captain in captains:
    print(captain, '==>', captains[captain])

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
new item ==> item1

In [9]:
for key, value in captains.items():
    print(key, '==>', value)

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
new item ==> item1

In [10]:
'india' in captains

True

In [11]:
'indian' in captains

False

In [12]:
'India' in captains

False

In [15]:
employee = {}

employee['name'] = 'hussain'
employee['dob'] = '15 july'
employee['age'] = '34'
employee

{'name': 'hussain', 'dob': '15 july', 'age': '34'}

In [16]:
employee.get('name')

'hussain'

In [17]:
employee.get('gender','male')

'male'

In [18]:
employee.get('age','male')

'34'

In [19]:
point = (4,5)
point

(4, 5)

In [20]:
print(type(point))

<class 'tuple'>

In [21]:
point(4) = 6

SyntaxError: cannot assign to function call (359845527.py, line 1)

In [22]:
point[0]

4

In [23]:
point[0] = 7

TypeError: 'tuple' object does not support item assignment

In [24]:
def add_multiply(a,b):
    total = a+b
    m = a*b
    return total, m

In [25]:
s, m = add_multiply(10,20)

In [26]:
print(s)
print(m)

30
200

In [27]:
names = ('Jeff') # considered as string type
print(names)
print(type(names))

names = ('Jeff',) # tuple with single element
print(names)
print(type(names))

Jeff
<class 'str'>
('Jeff',)
<class 'tuple'>

In [28]:
names = ('Jeff', 'Bill', 'Steve', 'Yash') 
print(names[0]) # prints 'Jeff'
print(names[1]) # prints 'Bill'
print(names[2]) # prints 'Steve'
print(names[3]) # prints 'Yash'

nums = (1, 2, 3, 4, 5) 
print(nums[0]) # prints 1
print(nums[1]) # prints 2
print(nums[4]) # prints 5

Jeff
Bill
Steve
Yash
1
2
5

In [29]:
names = ('Jeff', 'Bill', 'Steve', 'Yash') 
a, b, c, d = names # unpack tuple
print(a, b, c, d)

Jeff Bill Steve Yash

In [30]:
names = ('Jeff', 'Bill', 'Steve', 'Yash') 
a, b, c= names # unpack tuple
print(a, b, c, d)

ValueError: too many values to unpack (expected 3)

In [31]:
names = ('Jeff', 'Bill', 'Steve', 'Yash')

In [32]:
names[0] = 'Swati'

TypeError: 'tuple' object does not support item assignment

In [33]:
del names[0]

TypeError: 'tuple' object doesn't support item deletion

In [34]:
del names

In [35]:
tpl = tuple('Hello') # converts string to tuple
print(tpl)
tpl = tuple([1,2,3,4,5]) # converts list to tuple
print(tpl)
tpl = tuple({1,2,3,4,5}) # converts set to tuple
print(tpl)
tpl = tuple({1:"One",2:"Two"}) # converts dictionary to tuple
print(tpl)

('H', 'e', 'l', 'l', 'o')
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2)