In [4]:
intVar = 4534
intVar

4534

In [6]:
strVar = "hello World!"
strVar

'hello World!'

In [7]:
fltVar = 4534.456
fltVar

4534.456

In [9]:
rent = 5000
groceries = 10000
bill = 1000

total = rent + groceries + bill
total

16000

In [11]:
first_name = "MusaddiqueHussain"
last_name = "Jahagirdar"

full_name = first_name + " " + last_name
full_name

'MusaddiqueHussain Jahagirdar'

In [12]:
id(full_name)

1902532970096

In [17]:
isValid = True
isValid

True

In [22]:
result = isValid + fltVar
result

4535.456

In [26]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

In [27]:
birth_year = 1988
current_year = 2023

age = current_year - birth_year
age

35

In [28]:
middle_name = "HasaratAhmed"

full_name = first_name + " " + middle_name + " " + last_name
full_name

'MusaddiqueHussain HasaratAhmed Jahagirdar'

In [29]:
id(full_name)

1902532807632

In [31]:
_notion = "hello"
1record = 34
record1 = 454
record_one = "helloworld"
record-one = "sfsff"
record^one = 234234
continue = 43242

SyntaxError: invalid syntax (3473730468.py, line 2)

In [32]:
type(full_name)

str

In [33]:
print(type(full_name))

<class 'str'>

In [35]:
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

10
20
30

In [36]:
a, b, c = "me", "you", "they"
print(a)
print(b)
print(c)

me
you
they

In [37]:
m, n, o = 10, "hello", True
m, n, o

(10, 'hello', True)

In [38]:
e = 34, f="hello", g=True

SyntaxError: cannot assign to literal (3078494847.py, line 1)

# Naming Conventions
Any suitable identifier can be used as a name of a variable, based on the following rules:

1. The name of the variable should start with either an **alphabet letter (lower or upper case) or an underscore (_)**, but it cannot start with a digit.
2. More than one alpha-numeric characters or underscores may follow.
3. The variable name can consist of **alphabet letter(s), number(s) and underscore(s) only. For example, myVar, MyVar, _myVar, MyVar123 are valid variable names**, but **m*var, my-var, 1myVar** are invalid variable names.
4. Variable names in Python are **case sensitive**. So, NAME, name, nAME, and nAmE are treated as different variable names.
5. Variable names cannot be a reserved **keywords** in Python.