In [1]:
first_name = "MusaddiqueHussain"
last_name = "Jahagirdar"

full_name = first_name + " " + last_name
full_name

'MusaddiqueHussain Jahagirdar'

In [2]:
full_name = f"{first_name} {last_name}"
full_name

'MusaddiqueHussain Jahagirdar'

In [3]:
food = "sweet"
food

'sweet'

In [4]:
food[0]

's'

In [5]:
food[0:2]

'sw'

In [6]:
food[:3]

'swe'

In [7]:
food[-2]

'e'

In [9]:
food[:-2]

'swe'

In [10]:
food[-2:]

'et'

In [11]:
len(food)

5

In [13]:
food = food.replace("sweet", "briyani")
food

'briyani'

In [14]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
food.find("k")

-1

In [24]:
street = "Jayanagar 4th floor"
city = "Bengaluru"
country = "India"

address = street + " \n" + city + " \n" + country
print(address)

Jayanagar 4th floor
Bengaluru
India

In [28]:
address1 = f"""{street} \n{city} \n{country}"""
print(address1)

Jayanagar 4th floor
Bengaluru
India

In [29]:
sent = "Earth revolves around sun"

print(sent[6:14])

revolves

In [34]:
print(sent[-3:])

sun

In [31]:
x = "green leaves, Carrots"
y = 3

words = f"I eat {x} veggies and {y} fruits daily"
words

'I eat green leaves, Carrots veggies and 3 fruits daily'

In [33]:
s = "main ne 200 banana khaye"

s = s.replace("200 banana", "10 samosa")
s

'main ne 10 samosa khaye'

In [35]:
first_name1 = input("Please enter your first name:")
last_name1 = input("Please enter your last name:")

full_name1 = f"Hello, {first_name1} {last_name1}"
print(full_name1)

Hello, MusaddiqueHussain1 Jahagirdar1