In [1]:
methai = ['halva','kheer','jalebi','gulab jamun']
methai

['halva', 'kheer', 'jalebi', 'gulab jamun']

In [2]:
type(methai)

list

In [3]:
print(type(methai))

<class 'list'>

In [4]:
methai[0]

'halva'

In [5]:
methai[4]

IndexError: list index out of range

In [6]:
methai[3]

'gulab jamun'

In [7]:
methai[0:2]

['halva', 'kheer']

In [8]:
methai[:3]

['halva', 'kheer', 'jalebi']

In [9]:
methai[-1:2]

[]

In [12]:
methai[-2:-1]

['jalebi']

In [13]:
methai[-1:]

['gulab jamun']

In [14]:
len(methai)

4

In [15]:
'halva' in methai

True

In [16]:
methai

['halva', 'kheer', 'jalebi', 'gulab jamun']

In [18]:
'kheer' not in methai

False

In [19]:
methai.append('laddu')

In [20]:
methai

['halva', 'kheer', 'jalebi', 'gulab jamun', 'laddu']

In [21]:
methai.insert(3, 'kulfi')

In [22]:
methai

['halva', 'kheer', 'jalebi', 'kulfi', 'gulab jamun', 'laddu']

In [23]:
theeka = ['samosa','sav']
theeka

['samosa', 'sav']

In [24]:
food = methai + theeka

In [25]:
food

['halva', 'kheer', 'jalebi', 'kulfi', 'gulab jamun', 'laddu', 'samosa', 'sav']

In [26]:
food = methai + 'new item'

TypeError: can only concatenate list (not "str") to list

In [27]:
food = methai + ['item1','item2']
food

['halva', 'kheer', 'jalebi', 'kulfi', 'gulab jamun', 'laddu', 'item1', 'item2']

In [28]:
food[6] = ['samosa']

In [29]:
food

['halva',
 'kheer',
 'jalebi',
 'kulfi',
 'gulab jamun',
 'laddu',
 ['samosa'],
 'item2']

In [30]:
food[6] = 'samosa'

In [31]:
food

['halva',
 'kheer',
 'jalebi',
 'kulfi',
 'gulab jamun',
 'laddu',
 'samosa',
 'item2']

In [32]:
food[7] = [1,2,3,4,5]

In [33]:
food

['halva',
 'kheer',
 'jalebi',
 'kulfi',
 'gulab jamun',
 'laddu',
 'samosa',
 [1, 2, 3, 4, 5]]

In [34]:
methai

['halva', 'kheer', 'jalebi', 'kulfi', 'gulab jamun', 'laddu']

In [35]:
dir(methai)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
expense = [2200,2350,2600,2130,2190]
expense

[2200, 2350, 2600, 2130, 2190]

In [37]:
result1 = expense[1] - expense[0]
result1

150

In [38]:
result2 = expense[0] + expense[1] + expense[2]
result2

7150

In [39]:
expense.append(1980)
expense

[2200, 2350, 2600, 2130, 2190, 1980]

In [41]:
revised_amount = expense[4] - 200
revised_amount

1990

In [42]:
expense[4] = revised_amount
expense

[2200, 2350, 2600, 2130, 1990, 1980]

In [43]:
2000 in expense

False

In [57]:
heros=['spider man','thor','hulk','iron man','captain america']
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [45]:
len(heros)

5

In [46]:
heros.append('black panther')

In [47]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [48]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [49]:
heros[2] = 'black panther'
heros

['spider man', 'thor', 'black panther', 'iron man', 'captain america']

In [50]:
heros[2] = 'hulk'
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [51]:
heros.insert(2, 'black panther')
heros

['spider man', 'thor', 'black panther', 'hulk', 'iron man', 'captain america']

In [52]:
heros.remove[2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [53]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [58]:
heros.insert(3, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [60]:
heros[1:3] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [61]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [62]:
myList = []
print(myList)

[]

In [63]:
nums=list({1:'one',2:'two'})
print(nums)

[1, 2]

In [64]:
for hero in heros:
    print(hero)

black panther
captain america
doctor strange
iron man
spider man